/* Wstawianie elementów za pomocą CSS */
.App {
    font-family: 'Arial', sans-serif;
}

/* Użycie transformacji elementów (translate, rotate, scale itp.) */
@media (prefers-reduced-motion: no-preference){
    .App-logo {
        width: 100px;
        height: 100px;
        transition: transform 0.5s ease-in-out;
        animation: App-logo-spin infinite 2.5s linear; border-radius: 50%;

    }
}

.App-logo:hover {
    transform: scale(100%,100%);
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*    .App-logo {*/
/*        animation: App-logo-spin infinite 2.5s linear; border-radius: 50%;*/
/*    }*/
/*}*/

/* Utworzenie animacji w CSS */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

h2 {
    animation: fadeIn 1s ease-in-out;
}

h1 {
    animation: fadeIn 1s ease-in-out;
}

h4 {
    animation: fadeIn 1s ease-in-out;
}

/* Funkcjonalne ułożenie elementów aplikacji */
.App-header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    padding: 20px;
}

/* Użycie zdefiniowanych zmiennych */
:root {
    --primary-color: #3498db;
    --secondary-color: #2ecc71;
}

button {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px;
    margin: 5px;
    border: none;
    cursor: pointer;
}

h2, h4, h6 {
    color: var(--primary-color);
}

.App-logo {
    margin-bottom: 20px;
}

button:hover {
    background-color: var(--secondary-color);
}

body {
    background-color: rgb(240, 240, 240);
}